body {
}
.custom_review {
    display: flex;
    /*border: 2px #a93434;*/
    padding-top: 20px;
}

.review_Content {
    word-break: break-all;
    align-content: start;
    color: #575757;
    width: 88%;
    margin-left: 30px;
    padding-left: 40px;
    border-left: 1px solid #DADADA;
}

.review_info {
    border-right: 2px #0a6c9f;
    width: 12%;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.review_date {
    font-size: 0.6em;
    color: #C2C2C2;
}

.review_customer_name {
    color: #575757;
    font-size: 1.1em;
    margin-bottom: 7px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.button
button[type=submit],
button[type=reset] {
    color: #575757;
    background-color: #F4F4F4;
    padding: 7px;
    text-align: center;
    border: 1px solid #DADADA;
    border-radius: 5px;

    width: 70px;
    margin: 20px 0;
    /*margin-left: auto;*/
    /*order: 2;*/
}

.button button[type=submit] {
    width: auto;
    margin: 20px 0;
    margin-left: auto;
}

.button button[type=reset] {
    width: auto;
    margin: 20px 0;
    margin-left: 20px;
}

