<?php
/** @var \Divan\CustomReview\Block\Review\View $block */
$getReview = $block->getReviews();
$productId = $block->getProductId();
$isLoggedIn = $block->getIsCustomerLoggedIn();
$isUserViewEnabled = $block->getIsUserViewEnabled();
//var_dump($block->getLayout()->getUpdate()->getHandles())
?>
<div class="review">
    <?php if ($isLoggedIn) : ?>
            <?php $customer = $block->getCustomer(); ?>
            <div class="review_customer_name"><?= __('Please leave your review') ?></div>
            <div class="review_form">
                <form method="post" action="<?= $block->getUrl('review/index/save'); ?>">
                    <input type="hidden" name="product_id" value="<?= $productId ?>">
                    <input name="form_key" type="hidden" value="<?= $block->getFormKey(); ?>">
                    <input type="hidden" name="customer_id" value="<?= $customer->getId() ?>">
                    <textarea required maxlength="255" rows="10" cols="45" name="content"></textarea>
                    <div class="buttons">
                        <div class='button'>
                            <button type="reset"><?= __('Reset') ?></button>
                            <button type="submit"><?= __('Submit') ?></button>
                        </div>

                    </div>

                </form>
            </div>
        <?php endif; ?>

    <?php foreach ($getReview as $review): ?>
        <div class="custom_review">
            <div class="review_info">
                <div class="review_customer_name">
                    <?= $review->getFirstName() . ' ' . $review->getLastName(); ?>
                </div>
                <div class="review_date">
                    <?= $review->getUpdatedAt(); ?>
                </div>
            </div>
            <div class="review_Content">
                <?= $review->getContent(); ?>
            </div>
        </div>
    <?php endforeach; ?>
    <?php if ($block->getPagerHtml()) { ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
    <?php } ?>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "review": {
                "count" : "<?= $block->getReviewsCount() ?>"
            }
        }
    }
</script>

