<?php
/** @var \Magento\Framework\View\Element\Template $block */
?>

<h2>custom_test_template.phtml</h2>
<div> I am Template parent (first argument - string) : <?= $block->getData('store_name') ?></div>
<div> I am Template parent (second argument - boolean) : <?= $block->getData('store_value') ?></div>
<div> I am Template parent and my child name : <?= $block->getChildData('child_template', 'store_name') ?> </div>
<div> I am Template parent and I am rendering template of my child
    -> <?= $block->getChildHtml('child_template'); ?> </div> <!-- NOT WORKING -->


<div>-------</div>

<pre id="target"></pre>


<script type="text/x-magento-init">
    {
        "*": {
            "global": {
                "base_url": "<?= $block->escapeJs($block->getBaseUrl()) ?>"
            }
        },
        "#target": {
            "Magento_Cms/js/testJs": {
                "base_url": "<?= $block->escapeJs($block->getBaseUrl()) ?>"
            }
        }
    }
</script>

