<h2>slider.phtml</h2>
<div id="owlslider" class="owl-theme owl-carousel">

    <div class="item">
        <h2> Item 1</h2>
        <img src="https://place-hold.it/300x500" alt="slide-img" class="slider-image" />
    </div>
    <div class="item">
        <h2> Item 2</h2>
        <img style="width: 100%" src="https://place-hold.it/200x300/green/hello" alt="slide-img" class="slider-image" />
    </div>

    <div class="item">
        <h2> Item 3</h2>
        <img style="width: 100%" src="https://place-hold.it/300x500" alt="slide-img" class="slider-image" />
    </div>
    <div class="item">
        <h2> Item 4</h2>
        <img style="width: 100%" src="https://place-hold.it/200x300/green/hello" alt="slide-img" class="slider-image" />
    </div>

    <div class="item">
        <h2> Item 5</h2>
        <img style="width: 100%" src="https://place-hold.it/300x500" alt="slide-img" class="slider-image" />
    </div>
    <div class="item">
        <h2> Item 6</h2>
        <img style="width: 100%" src="https://place-hold.it/200x300/green/hello" alt="slide-img" class="slider-image" />
    </div>
</div>
<script>
    (function () {
        require(["jquery", "owlcarousel"], function ($) {
            $(document).ready(function () {
                $("#owlslider").owlCarousel({
                    autoWidth:true,
                    dots:true,
                    loop:true,
                    margin:10,
                    nav:true,
                    responsive:{
                        0:{
                            items:1
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:5
                        }
                    }
                });
            });
        });
    })();
</script>
